
body {
    margin:2;
}
.not{
    height: 10px;
}
.image-preview{
    width:100%;
    border-radius: 10px;
    display:inline-block;
    cursor: pointer;
    transition: opacity 1s;
}
.image-preview:hover{
    opacity:0.8;
    box-shadow: 5px 5px 10px rgb(76, 74, 74); 
  }

.video-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
    cursor: pointer;
}

.video-title{
    margin-top: 2px;
    margin-left: 2px;
    font-size: 19px;
    font-family: 'Roboto';
    font-weight: bold;
    margin-bottom: 0;
    display: inline-block;
    width: 200px;

}

.video-author{
    margin-left: 2px;
    font-size: 15px;
    margin-top: 3px;
    color:rgb(158, 152, 152);
    margin-bottom: 0;
}

.video-stats{
    margin-top: 8px;
    font-size: 13px;
    color:rgb(158, 152, 152);
    margin-left: 2px;
    margin-bottom: 30px;
}


.icon-class{
    width: 40px;
    border-radius: 60px;
}

.video-grid{
    display:grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 10px;
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-left: 110px;
}

